* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    // background-image: url('../img/background.jpg');
    background-color: black;
}

input {
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 2px solid white;
    border-radius: 20px;
    font-size: 30px;
    background-color: transparent;
    text-align: center;
    color: white;
}

.title {
    margin: 0;
    margin-bottom: 30px;
    text-align: center;
    color: yellow;
    font-size: 4em;
    font-family: "Star Jedi";
    src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot");
    src: url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.eot?#iefix")
            format("embedded-opentype"),
        url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff2")
            format("woff2"),
        url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.woff")
            format("woff"),
        url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.ttf")
            format("truetype"),
        url("//db.onlinewebfonts.com/t/0c724f6aa457310440cf8949c615cbd7.svg#Star Jedi")
            format("svg");
}

a {
    text-decoration: none;
    position: relative;
}

.search-film-container {
    width: 80em;
    margin: auto;
}

.films-list-container {
    width: 100%;
    background: rgba(3, 12, 168, 0.49);
    background: -moz-linear-gradient(
        left,
        rgba(3, 12, 168, 0.49) 0%,
        rgba(143, 2, 34, 0.44) 76%,
        rgba(176, 0, 41, 0.43) 100%
    );
    background: -webkit-gradient(
        left top,
        right top,
        color-stop(0%, rgba(3, 12, 168, 0.49)),
        color-stop(76%, rgba(143, 2, 34, 0.44)),
        color-stop(100%, rgba(176, 0, 41, 0.43))
    );
    background: -webkit-linear-gradient(
        left,
        rgba(3, 12, 168, 0.49) 0%,
        rgba(143, 2, 34, 0.44) 76%,
        rgba(176, 0, 41, 0.43) 100%
    );
    background: -o-linear-gradient(
        left,
        rgba(3, 12, 168, 0.49) 0%,
        rgba(143, 2, 34, 0.44) 76%,
        rgba(176, 0, 41, 0.43) 100%
    );
    background: -ms-linear-gradient(
        left,
        rgba(3, 12, 168, 0.49) 0%,
        rgba(143, 2, 34, 0.44) 76%,
        rgba(176, 0, 41, 0.43) 100%
    );
    background: linear-gradient(
        to right,
        rgba(3, 12, 168, 0.49) 0%,
        rgba(143, 2, 34, 0.44) 76%,
        rgba(176, 0, 41, 0.43) 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#030ca8', endColorstr='#b00029', GradientType=1 );
    -webkit-box-shadow: inset 0px 0px 31px 19px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 31px 19px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 0px 31px 19px rgba(0, 0, 0, 1);
    border-radius: 20px;
    margin-top: 50px;
    display: flex;
}

.film-card {
    width: 50px;
    height: 100px;
    border-radius: 20px;
    width: 17%;
    height: 25em;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    // &:hover {
    //     height: 15em;
    //     width: 100%;
    //     background-color: grey;
    // }
    &:hover {
        height: 20em;
    }
}

.film-card-poster {
    border-radius: 10px;
    width: 12em;
    height: 19em;
}

.film-card-container {
    display: flex;
    border-radius: 50px;
    background-color: transparent;
    width: 90vw;
    height: 400px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 20px;
    text-align: center;
}

.characters-container {
    color: white;
}

.film-description {
    &__title {
        font-family: "Star Jedi";
        color: yellow;
        font-size: 45px;
        margin-bottom: 20px;
    }
    &__description {
        font-family: "Star Jedi";
        color: yellow;
        font-size: 30px;
        font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
            sans-serif;
        text-align: justify;
        &_container {
            margin: auto;
            width: 60%;
        }
    }
    &__creators {
        color: white;
        font-size: 10px;
        margin-top: 20px;
    }
    &__release {
        color: white;
        font-size: 10px;
        margin-top: 10px;
    }
    &__buttons-container {
        // background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        margin-bottom: 40px;
        margin-top: 40px;
        &_button {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            border: 2px solid yellow;
            border-radius: 20px;
            height: 75px;
            width: 225px;
            font-family: "Star Jedi";
            text-transform: lowercase;
            font-size: 30px;
        }
    }
}
